body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.btn {
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-2px);
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

img {
    background: transparent;
}


/* departments dropdown */
/* Show dropdown on hover */
.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* Smooth effect (optional) */
.dropdown-menu {
    transition: all 0.3s ease;
}